* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  border: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.yellow {
  color: #f1c701; }

.pink {
  color: #d30d2f; }

.red {
  color: #790514; }

body {
  font-family: "Raleway", sans-serif; }

button {
  font-family: "Raleway", sans-serif; }

.line {
  height: 1px;
  background: #dee3e7; }

.header-top {
  padding-top: 18px;
  padding-bottom: 22px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo-box {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3e3e3c; }
  .logo-box__intro {
    text-transform: uppercase;
    font-weight: 800; }

.logo {
  margin-right: 30px; }

.phone {
  color: #3e3e3c;
  font-weight: 600;
  font-size: 23px;
  line-height: 1.2;
  margin-bottom: 14px; }

.order-call {
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .order-call::after {
    content: "";
    display: block;
    height: 26px;
    width: 49px;
    background: url("../img/phone.png") no-repeat;
    margin-left: 12px; }

.title {
  font-weight: 800;
  font-size: 30px;
  color: #3e3e3c;
  text-align: center; }

.container__title {
  margin-top: 110px;
  margin-bottom: 50px; }

.over-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu li {
    list-style: none; }
  .menu a {
    display: block;
    padding: 20px 29px 20px 31px;
    text-transform: uppercase;
    text-decoration: none;
    color: #3e3e3c;
    font-weight: 800;
    -webkit-transition: all .4s;
    transition: all .4s; }
    .menu a:hover {
      background: #f1c701;
      -webkit-box-shadow: 0px 4px #f1c701;
              box-shadow: 0px 4px #f1c701; }

.touch-menu {
  background: red;
  height: 32px;
  width: 32px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 15px;
  margin-left: auto;
  right: 15px;
  top: 5px;
  background: url("../img/menu.png") no-repeat;
  display: none; }

.header-mid {
  padding-bottom: 120px;
  background: url("../img/back1.png") no-repeat center;
  background-size: cover; }
  .header-mid .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.header-offer {
  padding-top: 64px;
  padding-left: 15px; }
  .header-offer__intro {
    background: #fff;
    padding: 14px 33px 14px 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 102px;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    width: 262px;
    margin-bottom: 58px; }
    .header-offer__intro::before {
      content: "";
      left: -50px;
      top: 0;
      display: block;
      position: absolute;
      border: 30px solid transparent;
      border-right: 20px solid #fff; }
    .header-offer__intro::after {
      content: "";
      position: absolute;
      display: block;
      height: 55px;
      width: 55px;
      background: url("../img/like.png") no-repeat center;
      left: -100px;
      top: 3px; }
  .header-offer__title {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 65px; }
    .header-offer__title_big {
      text-transform: uppercase;
      font-size: 55px; }
  .header-offer__item {
    color: #fff;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 48px;
    padding-left: 67px;
    position: relative; }
    .header-offer__item_f::before {
      content: "";
      display: block;
      position: absolute;
      width: 38px;
      height: 37px;
      background: url("../img/plant.png") no-repeat center;
      left: 0px; }
    .header-offer__item_s::before {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 39px;
      background: url("../img/leaf.png") no-repeat center;
      left: 0px; }
    .header-offer__item_t::before {
      content: "";
      display: block;
      position: absolute;
      width: 47px;
      height: 37px;
      background: url("../img/kettle.png") no-repeat center;
      left: 0px; }
    .header-offer__item_t {
      font-size: 20px; }

.header-form {
  margin-top: 123px;
  background: #fff;
  padding: 49px 25px;
  position: relative; }
  .header-form__title {
    color: #790514;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 24px; }
    .header-form__title_b {
      text-transform: uppercase;
      font-size: 23px; }
  .header-form__intro {
    line-height: 1.2;
    color: #3e3e3c;
    text-align: center;
    font-weight: 400;
    margin-bottom: 22px; }
  .header-form__input {
    width: 100%;
    display: block;
    padding: 10px 0 13px 11px;
    border: 1px solid #3e3e3c;
    color: #3e3e3c;
    font-weight: 300;
    margin-bottom: 39px; }
    .header-form__input::-webkit-input-placeholder {
      color: #3e3e3c;
      font-weight: 300; }
  .header-form::before {
    content: "";
    display: block;
    position: absolute;
    width: 350px;
    height: 531px;
    background: url("../img/Tea.png") no-repeat center;
    left: -270px;
    top: -58px; }

.header-btn {
  display: block;
  margin: 0 auto;
  padding: 21px 27px;
  color: #fff;
  font-size: #f1f2f5;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#7c0019), to(#ed0f37));
  background-image: linear-gradient(to right, #7c0019 0%, #ed0f37 100%);
  border-radius: 5px;
  line-height: 1.2; }

/*** product ***/
.product-block {
  width: 375px;
  height: 304px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.43);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.43);
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px; }

.product-container {
  background: #3e3e3c;
  padding: 17px 0; }

.product-title {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2; }

.product-intro {
  color: #e5e5e5;
  text-align: center;
  font-weight: 300;
  line-height: 1.2; }

.product-price {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  display: none; }

.product-select {
  color: #e5e5e5;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  display: none; }

.buy {
  display: block;
  margin: 0 auto;
  padding: 14px 46px;
  background: transparent;
  border: 1px solid #f1c701;
  border-radius: 5px;
  color: #f1c701;
  font-weight: 700;
  text-transform: uppercase;
  display: none;
  font-family: "Raleway";
  cursor: pointer; }

.product-block:hover img {
  display: none; }

.product-block:hover .product-select {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px; }

.product-block:hover .product-price {
  display: block;
  margin-bottom: 20px; }

.product-block:hover .product-container {
  position: absolute;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background: rgba(62, 62, 60, 0.9); }

.product-block:hover {
  background: url(../img/present.png) no-repeat center;
  background-size: cover; }

.product-block:hover .product-title {
  margin-top: 40px;
  font-size: 18px; }

.product-block:hover .product-intro {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 30px; }

.product-block:hover .buy {
  display: block; }

.products-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

@media all and (max-width: 1068px) {
  .header-form::before {
    display: none; } }
@media all and (max-width: 896px) {
  .header-mid .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .header-form {
    margin-top: 0; }

  .over-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .menu {
    display: none; }

  .touch-menu {
    display: block; }

  .menu a {
    text-align: center; } }
@media all and (max-width: 698px) {
  .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
@media all and (max-width: 468px) {
  .header-offer__title {
    text-align: center; }

  .header-offer__intro::after {
    display: none; }

  .header-offer__intro::before {
    display: none; }

  .header-offer__intro {
    margin-right: auto;
    margin-left: auto; } }
@media all and (max-width: 420px) {
  .product-block {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 319px; }

  .product-block img {
    height: auto;
    max-width: 100%; } }
