$yellow: #f1c701;
$black: #3e3e3c;
$white: #fff;
$pink: #d30d2f;
$red: #790514;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}



.container {
	max-width: 1200px;
    margin: 0 auto;
}

.yellow{
    color: $yellow;
}

.pink{
	color: $pink;
}

.red{
    color: $red;
}

body{
    font-family: "Raleway", sans-serif;
}

button{
    font-family: "Raleway", sans-serif;
}

.line{
    height: 1px;
    background: #dee3e7;
}

.line-second {
	height: 1px;
    width: 100%;
    color: $white;
}

.header-top {
    padding-top: 18px;
    padding-bottom: 22px;
    padding-left: 15px;
    padding-right: 15px;
	display: flex;
    justify-content: space-between;
}

.logo-box{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: $black;
    &__intro{
        text-transform: uppercase;
        font-weight: 800;
    }
}

.logo{
    margin-right: 30px;
}

.phone {
	color: $black;
    font-weight: 600;
    font-size: 23px;
    line-height: 1.2;
    margin-bottom: 14px;
}

.order-call {
    line-height: 1.2;
	font-weight: 700;
    text-decoration: none;
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    &::after{
        content: "";
        display: block;
        height: 26px;
        width: 49px;
        background: url("../img/phone.png") no-repeat;
        margin-left: 12px;
    }
}

.title{
    font-weight: 800;
    font-size: 30px;
    color: $black;
    text-align: center;
}

.container__title{
    margin-top: 110px;
    margin-bottom: 50px;
    
}

.over-menu {
	display: flex;
    justify-content: center;
    position: relative;
}

.menu{
    display: flex;
    li{
        list-style: none;
    }
    a{
        display: block;
        padding: 20px 29px 20px 31px;
        text-transform: uppercase;
        text-decoration: none;
        color: $black;
        font-weight: 800;
        transition: all .4s;
        &:hover{
            background: $yellow;
            box-shadow: 0px 4px $yellow;
        }
    }
}

.touch-menu{ 
    background: red;
    height: 32px;
    width: 32px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: 15px;
    margin-left: auto;
    right: 15px;
    top: 5px;
    background: url("../img/menu.png") no-repeat;
    display: none;
}

.header-mid {
    //padding-left: 15px;
    padding-bottom: 120px;
    
    background: url("../img/back1.png") no-repeat center;
    background-size: cover;
    
    .container {
	    display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.header-offer {
    padding-top: 64px;
    padding-left: 15px;
    &__intro{
        background: $white;
        padding: 14px 33px 14px 23px;
        display: flex;
        margin-left: 102px;
        position: relative;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        width: 262px;
        margin-bottom: 58px;
        &::before{
            content: "";
            left: -50px;
            top: 0;
            display: block;
            position: absolute;
            border: 30px solid transparent;
            border-right: 20px solid $white;
        }
        &::after{
            content: "";
            position: absolute;
            display: block;
            height: 55px;
            width: 55px;
            background: url("../img/like.png") no-repeat center;
            left: -100px;
            top: 3px;
        }
    }
    
    &__title{
        color: $white;
        font-size: 30px;
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 65px;
        &_big{
            text-transform: uppercase;
            font-size: 55px;
        }
    }
    
    &__item{
        color: $white;
        font-weight: bold;
        line-height: 2;
        margin-bottom: 48px;
        padding-left: 67px;
        position: relative;
        &_f::before{
            content: "";
            display: block;
            position: absolute;
            width: 38px;
            height: 37px;
            background: url("../img/plant.png") no-repeat center;
            left: 0px;
        }
        &_s::before{
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            height: 39px;
            background: url("../img/leaf.png") no-repeat center;
            left: 0px;
        }
        &_t::before{
            content: "";
            display: block;
            position: absolute;
            width: 47px;
            height: 37px;
            background: url("../img/kettle.png") no-repeat center;
            left: 0px;
        }
        
        &_t{
            font-size: 20px;
        }
    }
    
}

.header-form {
    margin-top: 123px;
    background: $white;
    padding: 49px 25px;
    position: relative;
    &__title{
        color: $red;
        font-weight: 700;
        text-align: center;
        line-height: 1.3;
        margin-bottom: 24px;
        &_b{
            text-transform: uppercase;
            font-size: 23px;
        }
    }
    &__intro{
        line-height: 1.2;
        color: $black;
        text-align: center;
        font-weight: 400;
        margin-bottom: 22px;
    }
    
    &__input{
        width: 100%;
        display: block;
        padding: 10px 0 13px 11px;
        border: 1px solid $black;
        color: $black;
        font-weight: 300;
        margin-bottom: 39px;
        &::-webkit-input-placeholder { color: $black; font-weight: 300;}
    }
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 350px;
        height: 531px;
        background: url("../img/Tea.png") no-repeat center;
        left: -270px;
        top: -58px;
    }
    
    
}

.header-btn {
    display: block;
    margin: 0 auto;
    padding: 21px 27px;
    color: $white;
    font-size: #f1f2f5;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    background-image: -webkit-linear-gradient(left, rgb(124,0,25) 0%, rgb(237,15,55) 100%);
    background-image: -o-linear-gradient(left, rgb(124,0,25) 0%, rgb(237,15,55) 100%);
    background-image: linear-gradient(to right, rgb(124,0,25) 0%, rgb(237,15,55) 100%);
    border-radius: 5px;
    line-height: 1.2;
    
}

/*** benefit ***/

.benefit{
    padding-bottom: 41px;
}

.benefit-box {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.benefit-block {
    width: 305px;
    text-align: center;
    margin-bottom: 54px;
    &__title{
        color: $black;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        margin-top: 26px;
        line-height: 1.2;
    }
}

/*** button-bur ***/

.button-bar{
    background: url("../img/back2.png") no-repeat center;
    background-size: cover;
    padding-top: 47px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    &_s{
        background: url(../img/back3.png) no-repeat center;
        background-size: cover;
    }
    &_t{
        background: url(../img/back4.png) no-repeat center;
        background-size: cover;
    }
    &_fo{
        background: url(../img/back5.png) no-repeat center;
        background-size: cover;
    }
}

.button-bar .container {
	display: flex;
    justify-content: flex-end;
}

.button-box {
	display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    &__btn-bar{
        margin-right: 30px;
    }
}

.btn-bar {
	display: block;
    background: $yellow;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    color: $black;
    font-size: 14px;
    padding: 21px 35px 21px 36px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-bar-second {
	display: block;
    background: transparent;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    color: $white;
    font-size: 16px;
    border-radius: 5px;
    padding: 19px 35px;
    border: 1px solid $white;
    cursor: pointer;
}


/*** product ***/

.products{
    padding-bottom: 55px;
}

.product-block {
	width: 375px;
    height: 304px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.43);
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
    
}

.product-container {
	background: $black;
    padding: 17px 0;
}

.product-title {
	color: $white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
}

.product-intro {
	color: #e5e5e5;
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
}

.product-price {
	color: $white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    display: none;
}

.product-select {
	color: #e5e5e5;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    display: none;
}

.buy {
	display: block;
    margin: 0 auto;
    padding: 14px 46px;
    background: transparent;
    border: 1px solid $yellow;
    border-radius: 5px;
    color: $yellow;
    font-weight: 700;
    text-transform: uppercase;
    display: none;
    font-family: "Raleway";
    cursor: pointer;
}

.product-block .over-img {
	min-height: 232px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-block:hover img {
	display: none;
}

.product-block:hover .over-img {
	display: none;
}

.product-block:hover .product-select {
	display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-block:hover .product-price{
    display: block;
    margin-bottom: 20px;
}

.product-block:hover .product-container {
	position: absolute;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background: rgba(62, 62, 60, 0.9);
}

.product-block:hover {
	background: url(../img/present.png) no-repeat center;
    background-size: cover;
    
}

.product-block_honey:hover {
	background: url(../img/honey.png) no-repeat center;
    background-size: cover;
    
}

.product-block_tea:hover {
	background: url(../img/mikasa.png) no-repeat center;
    background-size: cover;
    
}

.product-block:hover .product-title {
	margin-top: 40px;
    font-size: 18px;
}

.product-block:hover .product-intro {
	font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}

.product-block:hover .buy{
    display: block;
}

.products-block {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*** pack ***/

.packaging {
	padding-bottom: 9px;
}

.packaging-box {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.packaging-block {
    width: 305px;
    text-align: center;
    margin-bottom: 50px;
    &__title{
        margin-top: 16px;
        font-size: 20px;
        color: $black;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
    }
}

.pack-i-over{
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*** production ***/

.production{
    padding-bottom: 78px;    
}


.production-slider{
    max-width: 270px !important;
    height: 218px;
}

.production-block {
	width: 571px;
    background: #f7f7e9;
    margin-bottom: 30px;
}

.production .slick-dots {
	background: red;
    width: 67px;
    height: 16px;
    background: rgba(255, 255, 255, 0.8);
    bottom: 11px;
    left: calc(50% - 33.5px);
    border-radius: 5px;
}

.production .slick-dots li{
    width: 8px;
    height: 7px;
}

.production-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.production .slick-dots li button{
    width: 8px;
    height: 7px;
}

.production .slick-dots li button::before{
    width: 6px;
    height: 6px;
    top: -6px;
    opacity: 1;
    display: block;
    content: '';
    border-radius: 50%;
    border: 1px solid #000;
}

.slick-active button::before {
	background: #000;
    
}

.production-title{
    color: $black;
    font-size: 18px;
    font-weight: 800;
    max-width: 258px;
    margin-left: 26px;
    &_sm{
        font-size: 16px;
    }
}

.production-block {
	display: flex;
    align-items: center;
}

.production .slick-dotted .slick-slider{
    margin-bottom: 0;
}

/*** reward ***/

.reward-box {
	position: relative;
}

.reward{
    padding-bottom: 100px;
}

.reward-block{
    position: relative;
}

.reward-block::before {
	content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 378px;
    background: rgba(62, 62, 60, 0.8) url(../img/arrows.png) no-repeat center center;
    display: none;
}

.reward-block:hover::before {
	display: block;
}

.reward-block:hover::after {
	display: block;
}

/*** delivery ***/

.delivery{
    background: url("../img/back6.png") no-repeat center;
    background-size: cover;
    padding-top: 78px;
    padding-bottom: 78px;
}

.delivery-box {
	max-width: 799px;
    margin: 0 auto;
}


.delivery-title {
	font-weight: 800;
    color: $white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 42px;
    
}

.delivery-item{
    color: $white; 
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 37px;
    position: relative;
    line-height: 1.2;
    padding-left: 46px;
    background: url("../img/check.png") no-repeat left top;
}

.delivery__btn-bar{
    margin: 0 auto;
    margin-top: 75px;
}

/* contancts */

.contacts{
    background: $black;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    .container{
        display: flex;
       
    }
}

.contacts-box__title {
	color: $white;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    &::after{
        margin-top: 10px;
        margin-bottom: 18px;
        display: block;
        content: "";
        height: 1px;
        background: $white;
        width: 20px;
    }
}

.contact-box__intro{
    color: $white;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.2;
    &_ttu{
        text-transform: uppercase;
        margin-left: 18px;
    }
    &_ttu-s{
        text-transform: uppercase;
        margin-left: 84px;
    }
    &_mb{
        margin-bottom: 6px;
    }
}

.contact-box__item {
	color: $white;
    font-weight: 800;
    font-size: 14px;
    margin-top: 30px;
    max-width: 232px;
    line-height: 1.2;
    position: relative;
    padding-left: 53px;
    &_f::before{
        left: 0px;
        content: "";
        position: absolute;
        display: block;
        width: 22px;
        height: 28px;
        background: url("../img/placeholder.png") no-repeat center;
    } 
    
    &_s::before{
        left: 0px;
        content: "";
        position: absolute;
        display: block;
        width: 26px;
        height: 19px;
        background: url("../img/contact.png") no-repeat center;
    }    
    
    &_t::before{
        left: 0px;
        content: "";
        position: absolute;
        display: block;
        width: 22px;
        height: 32px;
        background: url("../img/mobile-phone.png") no-repeat center;
    }
    
    &_t{
        margin-bottom: 42px;
    }
    
    &_yellow{
        color: $yellow;
        
    }
}

.social-box {
    display: flex;
    &__link{
        margin-right: 27px;
        display: block;
    }
}

#map {
    position: absolute;
	//width: 770px;
    width: 100%;
    height: 332px;
    //height: 332px;
}

.gm-svpc{
    display: none;
}

.gmnoprint{
    display: none;
}

.contact-map {
    max-width: 770px;
    width: 100%;
    position: relative;
	margin-left: 150px;
}

/*** footer ***/

footer{
    background: $black;
    padding: 24px 15px;
}

.footer-title{
    color: $white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}


.gallery {
    display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    .container {
	    width: 100%;
        height: 100%;
        position: relative;
        
    }
    background: $black;
}

.ex {
    position: absolute;
    width: 32px;
    height: 32px;
    background: url("../img/close.png") no-repeat center;
    border-radius: 50%;
    border: 3px solid $white;
    right: 15px;
    top: 30px;
    cursor: pointer;
    z-index: 50;
}



.overlay {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: none;
}

.modal {
    width: 300px;
    padding: 20px;
    border-right: 5px;
    background: $white;
    text-align: center;
    position: fixed;
    top: 100px;
    left: 50%;
    z-index: 1000;
    margin-left: -150px;
    
    display: none;
    
    &__btn-bar{
        margin: 0 auto;
        margin-top: 15px;
    }
    
    &__input{
         display: block;
    margin-top: 10px;
        width: 100%;
        height: 38px;
        border: 1px solid $black;
        border-radius: 5px;
        padding: 0 10px;
        color: $black;
        font-weight: 700;
    }
    position: fixed;
    
    p{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.btn-bar_close{
    margin: 0 auto;
}

.close {
    position: absolute;
    width: 32px;
    height: 32px;
    background: url("../img/close.png") no-repeat center;
    top: -16px;
    right: -16px;
}

.gallery-box{
    max-width: 713px;
    margin: 0 auto;
    padding-top: 150px;
}

.gallery .slick-initialized .slick-slide{
    display: flex;
    justify-content: center;
}

.gallery .slick-prev:before {
	 background: url(../img/arrow2.png);
}

.gallery .slick-next:before {
	 background: url(../img/arrow2.png);
}



@media all and (max-width: 1200px){
    .reward .slick-initialized .slick-slide{
        display: flex;
        justify-content: center;
    }
    
    .reward-block:hover::before {
	display: none;
}
    .contact-box__intro_ttu-s{
        margin: 0;
        
    }
    .contact-box__intro_ttu{
        margin-left: 0;
        display: block;
    }
}

@media all and (max-width: 1068px){
    .header-form::before {
	    display: none;
    }  
}

@media all and (max-width: 896px){
    .header-mid .container{
        flex-direction: column;
    }
    
    .header-form {
	    margin-top: 0;
    }
    
    .over-menu {
       flex-direction: column;
    }
    
    .menu {
	    display: none;
    }
    
    .touch-menu {
	    display: block;
    }
    
    .menu a{
        text-align: center;
    }
}

@media all and (max-width: 820px){
    .contacts .container {
	flex-direction: column;
        align-items: center;
    
    }  
    
    .contact-map {
        margin-top: 40px;
    max-width: 770px;
    width: 100%;
    position: relative;
	margin-left: 0;
        height: 332px;
}
}

@media all and (max-width: 698px){
    .header-top{
        flex-direction: column;
        align-items: center;
    }
    
        .button-box {
	    flex-direction: column;
        align-items: center;
        margin: 0 auto;
        &__btn-bar{
            margin: 0;
        }
    }
    
    .btn-bar-second{
        margin-top: 20px;
    }
}

@media all and (max-width: 620px){

    
    .production-block {
	flex-direction: column;
    }
    
    .production-title{
        margin-top: 15px;
    }
}

@media all and (max-width: 468px){
    .header-offer__title{
        text-align: center;
    }
    
    .header-offer__intro::after{
        display: none;
    }
    
    .header-offer__intro::before{
        display: none;
    }
    
    .header-offer__intro{
        margin-right: auto;
        margin-left: auto;
    }
    
    .slick-slide img{
        max-width: 100%;
    }
}

@media all and (max-width: 420px){
    .product-block {
	    box-shadow: none;
        width: 319px;
    }
    .product-block img {
	    height: auto;
        max-width: 100%;
    }
}


