$back-color: #1d1d1d;
$gray: #cbcbcb;
$yellow: #e8d779;
$white: #fff;
$museo: "Museo";

//начальные настройки

@font-face{
    font-family: "Museo";
    src: url("../font/museo/museo.ttf");
}

body{
    //background: $back-color;
    height: 100%;
    width: 100%;
    background: $back-color;   
}

html{
    height: 100%;
    width: 100%;
}

.container {
	max-width: 1140px;
    margin: 0 auto;
    z-index: 100;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    box-shadow: none;
    border: 0;  
}

header{
    position: relative;
    padding-top: 49px;
    padding-bottom: 210px;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 774px;
}

.over {
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(29, 29, 29, 0.5);
    z-index: 10;
    box-shadow: inset 0px -70px 100px 0px rgba(29, 29, 29, 1);
}

.header-top {
    padding-top: 49px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
	display: flex;
    
    li{
        list-style: none;
        margin-right: 45px;
    }
    
    li:last-child{
        margin-right: 0;
    }
    
    a{
        font-family: "PT Sans";
        color: $gray;
        text-decoration: none;
        transition: all .3s;
        &:hover{
            color: $yellow;
        }
    }
}


.number a {
    text-decoration: none;
	color: #fff;
    font-size: 18px;
    font-family: "PT Sans";
    font-weight: bold;
}

.header-box {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    
    &__logo{
        margin-bottom: 34px;
    }
    
    &__title{
        margin-bottom: 38px;
    }
}

.title {
    line-height: 1.38;
	color: $white;
    font-size: 36px;
    text-align: center;
    font-family: $museo;
    position: relative;
    &_line::before{
        display: block;
        position: absolute;
        content: '';
        height: 40px;
        width: 2px;
        background: $yellow;
        left: 49.5%;
        top: -102px;
        z-index: 100;
    }
    &_line::after{
        display: block;
        position: absolute;
        content: '';
        height: 40px;
        width: 2px;
        background: $yellow;
        left: 50.3%;
        top: -87px;
        z-index: 100;
    }
}

.btn {
	display: block;
    padding: 20px 39px 20px 39px;
    background: transparent;
    color: $white;
    border: 1px solid $white;
    border-radius: 31px;
    font-family: "PT Sans";
    line-height: 1.438;
    cursor: pointer;
}


.header-video {
	position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%; 
}


.comand{
    padding-top: 45px; 
    height: 100vh;
    width: 100%;
    background: $back-color url("../img/mount.png") no-repeat center;   
}

.comand-over {
	height: 100%;
    background: rgba(29, 29, 29, 0.1);
}

.comand-box {
    display: flex;
    align-items: center;
	margin-top: 58px;
    &__block-title{
        margin-bottom: 35px;
    }
    &__block-desc{
        max-width: 415px;
    }
}

.comand-block {
	margin-right: 158px;
}

.block-title{
    color: $white;
    font-family: $museo;
    font-size: 24px;
    line-height: 1.66;
    text-align: left;
}

.block-desc{
    color: $gray;
    font-family: "PT Sans";
    line-height: 2; 
}

.comand-video {
    width: 593px;
    height: 361px;
    border-radius: 15%;
}

.over-video {
	position: relative;
}

.play{
    top: calc(50% - 30.5px);
    left: calc(50% - 30.5px);
    display: block;
    position: absolute;
    height: 71px;
    width: 71px;
    border-radius: 50%;
    background: $yellow url("../img/play-button.png") no-repeat 28px center;
    
    box-shadow: 0px 6px 6px 0px rgba(215, 200, 114, 0.55);
    cursor: pointer;
}


.gallary {
	height: 100vh;
    background: url("../img/map.png") no-repeat center;
}